<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Local\Service\UserManagement\Log\internal-nlog.txt">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.MailKit"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="C:\Local\Service\UserManagement\Log\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="C:\Local\Service\UserManagement\Log\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="auditFile-web" fileName="C:\Local\Service\UserManagement\Log\nlog-audit-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!--send an email notification to webapps team -->
    <target xsi:type="Mail" name="mailtowebapps"
            body="${newline}${message}${newline}"
            header="${newline}"
            footer="${newline}"
            addNewLines="true"
            from="WebApps@mcap.com"
            html="true"
            replaceNewlineWithBrTagInHtml="true"
            smtpServer="smtp.mcap.com"
            subject="${machinename} - IntegrationTestDemo"
            to="WebApps@mcap.com"
            layout="Date: ${longdate}${newline}
			    	    Server: ${machinename} ${newline}
				        Identity: ${aspnet-User-Identity}${newline}  
				        Level: ${level:uppercase=true}${newline}    
				        Logger: ${logger}${newline}    
				        Callsite: ${callsite}${newline}
				        Request URL: ${aspnet-Request-Url}${newline}    
				        Browser: ${aspnet-Request-UserAgent}${newline}    
				        Message: ${message}${newline}
				        ${onexception:${newline}EXCEPTION\:${exception}}"/>    
    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Error" writeTo="mailtowebapps"/>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <logger name="*" minlevel="Info" writeTo="auditFile-web" />
  </rules>
</nlog>
